.display-none {
    display: none;
}

.loading {
    position: fixed;
    background: rgba(255,255,255,.7);
    z-index: 10000;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.loading-container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.loading-container>.fas {
    color: #343a40;
}
